<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WEB5</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>web1</display-name>
    <servlet-name>web1</servlet-name>
    <servlet-class>web1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>web1</servlet-name>
    <url-pattern>/web1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Web2</display-name>
    <servlet-name>Web2</servlet-name>
    <servlet-class>Web2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Web2</servlet-name>
    <url-pattern>/Web2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Web3</display-name>
    <servlet-name>Web3</servlet-name>
    <servlet-class>Web3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Web3</servlet-name>
    <url-pattern>/Web3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>web4</display-name>
    <servlet-name>web4</servlet-name>
    <servlet-class>web4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>web4</servlet-name>
    <url-pattern>/web4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Web4</display-name>
    <servlet-name>Web4</servlet-name>
    <servlet-class>web4.Web4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Web4</servlet-name>
    <url-pattern>/Web4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>web5</display-name>
    <servlet-name>web5</servlet-name>
    <servlet-class>web4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>web5</servlet-name>
    <url-pattern>/web5</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>web6</display-name>
    <servlet-name>web6</servlet-name>
    <servlet-class>web6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>web6</servlet-name>
    <url-pattern>/web6</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>web7</display-name>
    <servlet-name>web7</servlet-name>
    <servlet-class>web7</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>web7</servlet-name>
    <url-pattern>/web7</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>web8</display-name>
    <servlet-name>web8</servlet-name>
    <servlet-class>web7</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>web8</servlet-name>
    <url-pattern>/web8</url-pattern>
  </servlet-mapping>
</web-app>